@font-face{
	font-family: "Quintessential-Regular";
	src: url("../fonts/Quintessential-Regular.ttf") format("truetype");
}


body{
	background-color: black;
	font-family: Montreal, Arial;
	font-weight: 700;
	position: relative;
	color: white;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: black;
	display: block;
}
div{
	margin: 0px;
}
nav{
	position: fixed;
	z-index: 9;
	height: 50px;
	width: 100%;
	top: 0%;
	left: 0%;
	background-color: rgba(255, 255, 255, 0.8);
}
menu{
	display: flex;
	position: fixed;
	z-index: 9;
	width: 100%;
	background-color: white;
	margin-top: 50px;
	padding: 30px;
	text-align: center;
}

details{
	background-color: dimgray;

	padding: 5px;
	margin: 10px;

	color: lightgray;
}

summary{
	background-color: dimgray;

	padding: 5px;
	margin: 10px;

	color: lightgray;
}

#svg_banner{
	margin: 35px;
	margin-top: 70px;

	float: center;

	width: 90%;
	height: 35vh;
}
@media(min-width: 800px){
	#svg_banner{
		height: 50vh;
	}
}

#h1b{
	font-family: Quintessential-Regular;
	margin-top: -240px;
	margin-left: 5%;
	width: 40%;
}
#content{
}
#burger{
	height: 50px;
	width: 50px;
	z-index: 11;
	top: 3px;
	left: 20px;
	position: fixed;
}

.menu_bottom{

	padding: 10px;
	color: black;
	text-decoration: none;
	display: block;
	height: 30px;
	margin: 20px;
}
.menu_bottom:hover{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color: black;
}
.menu_bottom:active{
      		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			padding: 5px;
			color: black;
			text-decoration: none;
			display: block;
			height: 30px;
}
/*dark market*/
#market{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.block_download{
	height: 175px;
	width: 100px;

	text-align: center;

	background-color: lightgray;

	padding: 10px;
	margin: 10px;

	border-radius: 10px;
}

.caption_download{
	color: black;

}

.link_download:hover{
	display: block;
	color: lightgray;

	background-color: dimgray;

	padding: 5px;
	margin: 5px;

	border-radius: 50px;
}

.link_download{
	display: block;
	color: dimgray;

	background-color: lightgray;

	padding: 5px;
	margin: 5px;

	border-radius: 50px;
	border-color: dimgray;
	border-width: 2.5px;
	border-style: solid;
}

.warning{
	color: red;

	font-size: 10px;

	margin: 2.5px;
}

/*banners & other content of general page*/

	#begin_banner{
		display: flex;

		overflow-x: scroll;
		overflow-y: hidden;
	}

	.plusik{
		display: flex;

		background-color: lightgray;

		padding: 20px;
		margin: 5px;

		width: 300px;
		min-width: 200px;
		height: 50px;

		text-align: center;

		color: rgba(0, 0, 0, 0.8);
	}

	.plusiki{
		display: flex;

		justify-content: center;

		background-color: lightgray;

		padding: 20px;
		margin: 5px;

		width: 30%;
		min-width: 150px;
		height: 50px;

		color: black;
	}

	#pluses_block{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#poster{
		background-color: lightgray;

		color: black;

		margin: 10px;
	}

/*banner list*/

	#banner_list{
		height: 300px;

		overflow-x: auto;

		background-color: rgba(255, 255, 255, 0.1);

		margin: 10px;
		padding: 10px;

		display: flex;
	}

	.banner_no_scroll{
		min-width: 200px;
		height: 250px;
		
		background-color: lightgray;
		
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 12.5px;
		margin-right: 12.5px;

		transition-duration: 1s;
		transition-property: height;

		box-shadow: 5px 5px 20px black;
	}

	.banner_no_scroll:hover{
		width: 200px;
		height: 285px;

		background-color: lightgray;

		margin-top: auto;
		margin-bottom: auto;
		margin-left: 12.5px;
		margin-right: 12.5px;
	}

.news{
			color: black;
    		width: 90%;
			margin: 4%;
			padding: 10px;
			background-color: rgba(255, 255, 255, 0.8);
			 
}
.active_menu{
			position: fixed;
			width: 20%;
			float: left;
			top: 0px;
			left: 0px;
			height: 100%;
			background: rgba(255, 255, 255, 0.7);
			z-index: 10;
			 
}
#favicon{
			height: 40px;
			width: 40px;
			z-index: 11;
			top: 5px;
			left: 80px;
			position: fixed;
}
#footer{
			margin: 4%;
    		width: 90%;
			font-size: 12px;
			background-color: rgba(255, 255, 255, 0.8);
			color: black;
			padding: 10px;
			margin-top:30px;
			 
}
.fi{
	height: 50px;
	width: 50px;
	margin-left: 25px;
}
.vzlom{
			background: rgba(255, 255, 255, 0.8);
			margin: 50px;
			padding: 5px;
			height: 250px;
			width: 80%;
			overflow: auto;
			display: flex;
			 
}
.blackA{
			text-decoration: none;
			color: black;
			margin-bottom: 30px;
			display: block;
			text-align: center;
			background: rgba(255, 255, 255, 0.8);
			padding: 7px;
			margin-left: -80px;
			margin-top: 175px;
}
.blackP{
			 
			margin-left: 30px;
			width: 750;
			color: black;
}
.imgNews{
	float: right;
	display: inline;
	border-radius: 5px;
	height: 200px;
	width: 200px;
	left: 60%;
}
.img{
			margin-top: 30px;
			margin-left: 30px;
}
#img{
	 
    width: 70%;
    height: 70%;
    
}
.school_bottom{
			 
			text-decoration: none;
			text-align: center;
			color: black;
			background-color: white;
			padding: 10px;
			border-radius: 50px;
}
.school_bottom:active{
			 
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: black;
			background-color: white;
			padding: 10px;
			border-radius: 50px;
}
.school_bottom:hover{
			 
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			-webkit-tap-highlight-color: transparent;
			text-decoration: none;
			text-align: center;
			color: black;
			background: white;
			padding: 10px;
			border-radius: 50px;
}
.vzlomschool{
			 width: 200px;
			margin: 30px;
			padding: 5px;
}
.vzlomschool:hover{

			margin: 30px;
			padding: 5px;
}
@media(max-width: 767px){
	#burger{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 11;
}
#m0id{
	z-index: 12;
}
menu{
	width: 100%;
	display: block;
}
}
		#block-around{
			position: relative;
			margin-top: 50px;
			height: 250px;
		}
		#beauty-round{
			animation-name: iraround;
			animation-iteration-count: infinite;
			animation-duration: 20s;
			position: absolute;
			height: 225px;
			width: 450px;
			margin-left: 22%;
		}
		#round{
			position: absolute;
			height: 225px;
			width: 450px;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
    		margin-left: 22%;
		}
		#beauty{
			position: absolute;
			animation-name: around;
			animation-iteration-count: infinite;
			animation-duration: 10s;
			height: 225px;
			width: 450px;
			margin-left: 22%;
		}
		#sign{
			position: absolute;
			height: 225px;
			width: 450px;
			margin-left: 22%;
		}
		@keyframes size{
			from{
				
			}
			to{
				height: 285px;
			}
		}
		@keyframes around {
			from{
				transform: rotate(360deg);
			}
			to{
				transform: rotate(0deg);
			}
		}
		@keyframes iraround {
			from{
				transform: rotate(0deg);
			}
			to{
				transform: rotate(360deg);
			}
		}
		@keyframes minus{
			0%{
				width: 30px;
			}
			100%{
				width: 0px;
			}
		}
		@keyframes plus{
			from{
				width: 0px;
			}
			to{
				width: 30px;
			}
		}
#smbo{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 1px;
	background-color: black;
	height: 0px;
	width: 30px;
	margin: 7px;
}
#smbt{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 1px;
	background-color: black;
	height: 0px;
	width: 30px;
	margin: 7px;
}
#smbth{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 1px;
	background-color: black;
	height: 0px;
	width: 30px;
	margin: 7px;
}